label {
  width: 180px;
  clear: left;
  text-align: right;
  padding-right: 10px;
}

.center {
  margin-left: 30%;
  //position: absolute;
  //left: 50%;
  //-ms-transform: translate(-50%, -50%);
  //transform: translate(-50%, -50%);
}

.flip-icon {
  position: absolute;
  right: 0.625rem;
  top: 1rem;
  cursor: pointer;
}

pre {
  background-color: #c0c0c0;
  padding: 10px;
  overflow-x: auto;
  max-width: 80vw; /* Imposta la larghezza massima in percentuale rispetto alla larghezza dello schermo */
}

code {
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  white-space: pre-wrap; /* Per gestire i ritorni a capo */
}

#selectSource {
  width:500px//fit-content
}

//@use '../../styles/themes' as *;

.control-status-example {
  color: nb-theme(color-basic-100);
}

.pad {
  margin-top: 60px;
  margin-bottom: 20px;
}

.row {
  margin-top: 20px;
}

:host ::ng-deep div.jsoneditor.jsoneditor-mode-preview pre.jsoneditor-preview {
  background-color: #ffffff !important;
}
