/*.custom-table {
  background-color: #00ff66;
  color: #333;

  thead {
    background-color: #b61847;
    color: white;
  }

  tbody tr:hover {
    background-color: #91ff00;
  }

  td, th {
    border: 1px solid #ff7b00;
  }
}
*/
