<section class="panel hero">
  <h1>Data model mapper transforms and maps datasets</h1>
</section>

<section class="panel green">
  <h2>CSV, JSON and GEOJSON format can be converted to JSON or GEOJSON</h2>
</section>

<section class="panel blue">
  <h1>You can alter the structure of the dataset by mapping the keys</h1>
</section>

<section class="panel yellow">
  <h2>You can convert a CSV table to a JSON</h2>
</section>

<section class="panel brown">
  <h1>The output can be downloaded or sent to Orion</h1>
</section>

<section class="panel red">
  <h2>Save your mapping file to Minio if you want to share it or save all to the internal database</h2>
</section>

<section class="panel cta">
  <a href="http://localhost:12345">Give it a try</a>
</section>
